body{
background-color:silver;
}
#container{
	width:85%;
	height:600px;
	margin:auto;
	background-color: white;
	background-image:url("images/y.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#header{
  height:150px;
	background-image:url(images/headerbg.jpg);
  text-align: center;
	width: auto;
}
#header img{
	border-radius:90px;
	padding:20px;
	height:90px;
	display:flex;
	flex-direction:row;
	}
#nav{
  background-color: black;
	height: 50px;
	text-align: center;
}
#nav ul {
   text-align: center;
    overflow: hidden;
    background-color: #333;
}
#nav li {
   display: inline;
   padding: 50px;
   line-height: 50px;
}
#nav li a {
    color: white;
    padding: 17px 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color:grey;
}

#intro{
width: 50%;
}
footer{
}
.footer1{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: row;
	background-color: skyblue;
	height: 80%;
	padding: 10px;
}
.footer11{
	font-size: 16px;
	margin-left: 2%;
}
.footer12{
  margin-left:500px;
   }
	.footer12 img{
		height:60px;
	}
	.soc{
		border-radius:100px;
		height:100px;
		width:60px;
	}
		.logocontainer{

		width:11%;
		border-radius:100%;
		
	}
	.logoname{
		margin-top:-1%;
		color:white;
	}

	@media (max-width:700px) {
		#nav{
			display: flex;
			flex-direction: column;
			height: auto;

		}
  #nav li {
		display: flex;
		flex-direction: column;
		height: 10%;
		padding: 0px;
		line-height: 0px;
	}
	#nav ul{
		height: auto
	}
footer{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.footer12{
	margin-left: 0;
}
.footer1{
	display: flex;
	flex-direction: column;
}
	}
